*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
}
.intro{
    background-image:url("i.png");
    background-size:cover;
    width:1920px;
    height:640px;
   
    
}
.header{
    background-color:white;
    width:1920px;
    margin:auto;
    display:flex;
    height:60px;
    padding-top:18px;
}
.nav{
    display:flex;

}
.searcharea{
    display:flex;
}
.nav>li{
    margin-left:40px;
}
.searcharea>li{
    margin-left:40px;

}
.searcharea{
    width: 700px;
    background-color:white;
    justify-content:flex-end;
    line-height:50px;
    margin-left:300px;
    
}
.nav{
    background-color:white;
    width:500px;
    justify-content:flex-end;
    margin-left:200px;
    line-height:50px;
    
}
.nav>li>a{
    color:gray;
    font-size:20px;
    font-weight:bolder;
}
.searcharea li input{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 12px;
opacity: 1;
width: 315px;
height: 43px;
border:none;

}
/*main*/
.background{
    background-color:#F5F5F5;
    width: 1950px;
    height: 2632px;
    margin-top:-550px;
}
.rice{
    margin-left:340px;
    padding-top:62px;
}
.icon{
    display:flex;
    margin-left:340px;
    padding-top:75px;
}
.icon h1{
    font-size:35px;
    color:#585858;
}
.farmname{
    margin-left:340px;
    padding-top:45px;
}
.backcolors{
    margin-left:760px;
    margin-top:-475px;
}

.category{
    margin-left:80px;
    margin-top:-420px;
}
.cate{
    margin-left:92px;
    margin-top:-27px;
    color:white;
}
.title{
    margin-left:80px;
    color:#585858;
    font-size:17px;
    font:border;
    margin-top:20px;

}

.star{
    margin-left:80px;
    margin-top:100px;
}
.price{
    color:#629dd9 ;
    font-size:20px;
    margin-left:80px;
    margin-top:15px;
}
.reserve{
    margin-left:700px;
    
}
.heart{
    margin-top:-370px;
    margin-left:700px;
}
.reee{
    margin-left:60px;
    margin-top:250px;

}
.reeh{
    margin-left:300px;
    margin-top:-60px;
}
.reet{
    margin-left:85px;
    margin-top:-280px;
}
.first{
    margin-top:260px;
}

.three{
    display:flex;
    width:1240px;
    height:384px;
    
    
}
.three>li{
    flex:1;
    
    height:384px;
    margin-top:70px;
    margin-right:10px;

}
.three>li:not(:last-child){
    margin-left:330px;
}


.second{
    margin-left:330px;
    margin-top:120px;
}
.page{
    margin-left:230px;
    margin-top:40px;
}
.three h1{
    margin-top:-375px;
    margin-left:150px;
    color:#585858;
}
.three h2{
    color:#629dd9 ;
    font-size:50px;
    margin-top:-340px;
    margin-left:50px;
}
.three h3{
    color:#00000029;
    margin-left:50px;
    margin-top:15px;
}
.three h4{
    margin-left:50px;
    margin-top:60px;
}
.three h5{
    margin-left:50px;
    color:#00000029;
    font:bolder;
}
.three h6{
    margin-left:400px;
    margin-top:-230px;
}
.three h7{
    margin-left:410px;
    margin-top:-200px;
}
.three h8{
    margin-left:415px;
    
}

