{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'accountApp/login.css' %}" type="text/css"> 
{% endblock %}

{% block content %}
    {% if error %}
    <div>
        {{ error }}
    </div>
    {% endif %}
    <h1>{% if usertype == 1 %}생산자 {% elif usertype == 2 %}소비자 {% endif %}로그인 페이지 입니다.</h1>
    <div>
        {{usertype}}
        {% if usertype == 1 %}
        <form action="{% url 'accountApp:login' 1 %}" method="POST">
        {% elif usertype == 2 %}
        <form action="{% url 'accountApp:login' 2 %}" method="POST">  
        {% endif %}
            {% csrf_token %}
            <h3>LOGIN</h3>
            
            <div>
                <label class='log_lb' for="username">아이디</label>
                <input type="text" id = 'username' placeholder="아이디" name="username">
            </div>
            <div >
                <label class='log_lb' for="password">비밀번호</label>
                <input type="password" id='password' placeholder="비밀번호" name="password">
            </div>
            {% if usertype == 1 %}
                <input type= "hidden" name="usertype" value=1>
            {% elif usertype == 2 %}
                <input type= "hidden" name="usertype" value=2>    
            {% endif %}
            <button type="submit">로그인</button>
        </form>
        <div>
            Don't have account?
            <a href="{% url 'accountApp:signupAgree' %}">Signup Now</a>
        </div>
    </div>
{% endblock %}