{% extends 'base2.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accountApp/login.css' %}" type="text/css"> 
    <!-- <link rel="stylesheet" type="text/css" href="login2.css"> -->
    <style>
        .main_text0{
    top: 747px;
    width: 1915px;
    height: 500px;
    /* background: transparent url('../static/img/square.svg') 0% 0% no-repeat padding-box; */
    background-color: #F5F5F5;
    opacity: 1;}
    </style>
{% endblock %}

{% block content2 %}
<h1 style="font-size: 70px;">로그인</h1>
<br><img src="{% static 'img/사각형 22.png' %}"><br><br>
    {% if error %}
    <div>
        {{ error }}
    </div>
    {% endif %}
    <!-- <h1>{% if usertype == 1 %}생산자 {% elif usertype == 2 %}소비자 {% endif %}로그인 페이지 입니다.</h1> -->

    <div>
        {% if usertype == 1 %}
        <form action="{% url 'accountApp:login' 1 %}" method="POST">
        {% elif usertype == 2 %}
        <form action="{% url 'accountApp:login' 2 %}" method="POST">  
        {% endif %}
            {% csrf_token %}
           <div class="amount">
               <div class="food">
                    {% if usertype == 1 %}
                    <img src="../../../static/img/produceerlogin.PNG">
                    {% elif usertype == 2 %}
                    <img src="../../../static/img/consumerlogin2.png">
                    {% endif %}
               </div>
               
              
                <div class="service">
                    
                    
                    <ul>  
                        <li><input type="text" id = 'username' placeholder="아이디" name="username"></li>
                        <li><input type="password" id='password' placeholder="비밀번호" name="password"></li>
                        <li><button type="submit">로그인하기</button></li>
                        <div class="account">
                            아직 회원이 아니신가요?
                            <a href="{% url 'accountApp:signupAgree' %}">Signup Now</a>
                        </div>
                    
                    </ul>
                    
                </div>

            </div>
            <div class="logo">
                <img src= "{% static 'img/sot logo.png' %}"></div>
            {% if usertype == 1 %}
                <input type= "hidden" name="usertype" value=1>
            {% elif usertype == 2 %}
                <input type= "hidden" name="usertype" value=2>    
            {% endif %}
        </form>
    </div>
{% endblock %}