<!doctype html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href=".\style.css" type="text/css">
        <script src="https://kit.fontawesome.com/b0f29e9bfe.js" corssorigin="anonymous"></script>
    </head>
    <body>

        <div class="wrap">
            <div class="intro_bg">
                <div class="header">
                   
                    <ul class="nav">
                        <li><a href="#">Log in</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#"><i class="fas fa-bars"></i></a></li>
                    </ul>
                </div>
                <div class="intro_text">
               

                <h1>회원 유형을 선택해 주세요</h1>
                <h4>유형을 선택하시면 솥에서 제공하는 다양한 서비스를 이용하실 수 있습니다.</h4>
            </div>

           

            /*main_text0*/
        
            <div class="main_text0">
               
               <ul class="icons">
                   <li>
                       <a href="{%  url 'accountApp:login' 2 %}">
                        <div class="icon_img"></div>
                        <div class="content_bold">판매자</div>
                        <i class="fas fa-minus"></i>
                        <div class="content2">판매자는 솥을 통해 수요량을 조사하고, 신선한 농작물을 판매할 수 있습니다.</div>
                        </a>
                    </li>

                   
                   <li>
                       <a href="{%  url 'accountApp:login' 1 %}">
                            <div class="icon2_img"></div>
                            <div class="content_bold">구매자</div>
                            <i class="fas fa-minus"></i>
                            <div class="content2">구매자는 솥을 통해 간편하게 농작물을 주문하고, 갓 생산된 농작물을 받아보실 수 있습니다.</div>
                        </a>   
                    </li>
               </ul>
            </div>
            
            </div>
            
     </div>
     <a href="" clasas="navbar_tooglBtn"></a>
     <i class="fas fa-bars"></i>
    </body>
</html>
