{% extends 'ownerbase.html' %}
{% load static %}

{% block style %}
<style>
    .background{
    /* background-color:#F5F5F5; */
    background-image: url('../../../static/img/start.jpg');
    width:1920px;
    height:1500px;
    margin-top:-550px;
    background-repeat: no-repeat;
}
.front{
    margin-left:800px;
    padding-top:450px
    
}
</style>
{% endblock %}

{% block content %}
<div class="background">
    <div class="back">
        <div class="front">
            <a href="{% url 'ownerApp:register2' %}"><img src="{% static 'img/start button.png' %}"></a>
        </div>
    </div>
</div>
{% endblock %}