{% extends 'base2.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    <h1>ownerApp 판매자 등록</h1>
    <h2>스토어 등록이 완료 되었습니다.</h2>
    <div>
        스토어 이름 : {{store.store_name}}<br>
        <!-- 스토어 url : {{store.store_url}}<br>
        소개글 : {{store.store_intro}}<br>
        고객센터 전화번호 : {{store.store_tel}}<br>
        상품 카테고리 : {{store.category}}<br>
        배송정보 : {{store.store_address}}<br>
        정산 입금 계좌 : {{store.store_account}}<br> -->
    </div>
    

{% endblock %}