{% extends 'base2.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'userApp/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="maininfocontainer">
            <!-- 썸네일 -->
            <div class="rice">
                {% if object.Thumbnail %}
                <img src="../../..{{object.Thumbnail.url}}" style="width: 100%;height: 100%;">
                {% else %}
                <img src="{% static 'img/ThumbnailSOT3.png' %}">
                {% endif %}
            </div>
            <!-- 인포 -->
            <div class="mainmaininfo">
                <div class="opt">
                    <div class="category">
                        {{object.category}}
                    </div>
                    <img src="{% static 'img/heart.svg' %}">
                </div>
                <div class="mainnames">
                    <div class="title_z">
                        <h1>{{ object.name }}</h1>
                   </div>
                   <b> {{object.amount}}</b>
                </div>
                <img src="{% static 'img/ththth.png' %}" style="padding-top: 10px;">
                <div class="mbinfo">
                    <div class="mbinfo2">
                        <img src="{% static 'img/star 8.svg' %}" style="width: 100px;">
                        <div class="price">
                            <h1>{{ object.price }}원</h1>
                       </div>
                       <b>{{object.deliveryOption}}</b>
                       <div class="mbinfo3">
                            <div class="reee">
                                {{object.deliveryD1}} ~ {{object.deliveryD2}}
                            </div>
                            <img src="{% static 'img/reserve short.png' %}">
                       </div>

                    </div>
                    <div class="reserve">
                        <img src="{% static 'img/75.svg' %}">
                   </div>
                    
                </div>

            </div>
        </div>
        <!--  -->
        <div class="first">
            <ul class="three">
                <li><img src="{% static 'img/graph.png' %}">
                </li>
                <li> 
                    <form action="{% url 'userApp:addCart' object.pk %}" method="POST">
                        {% csrf_token %}
                        <img src="{% static 'img/three square.svg' %}">
                        <h2>{{ object.price }}원</h2>
                        <!-- <h3>{{object.amount}} - </h3>
                        <span id="input_a"><input type="date" name="od_date" min={{object.deliveryD1}}, max={{object.deliveryD2}} required>개</span><br>
                        <h5>*희망 발송일 설정은 예상 배송 기간 이후로 설정 가능합니다.</h5>
                        <span id="input_b"><input type="number" name="od_amount" min = 1 required></span><br>
                        <h7><img src="{% static 'img/reserve long.png' %}" alt="예약"></h7>
                        <h8><button type = submit><img src="{% static 'img/cart button.png' %}" alt="장바구니"></button></h8>
                        <input type="hidden" name="od_deliopt" value={{object.deliveryOption}} > -->
                        <span class="hot">{{object.amount}}</span> 
                        <span id="input_a"><input type="date" name="od_date" min={{object.deliveryD1}}, max={{object.deliveryD2}} required>개</span><br>
                        <span>*희망 발송일 설정은 예상 배송 기간 이후로 설정 가능합니다.</span><br><br>
                        <span id="input_b">희망배송일 : <input type="number" name="od_amount" min = 1 required></span><br>
                        <h7><img src="{% static 'img/reserve long.png' %}" alt="예약"></h7>
                        <h8><button type = submit><img src="{% static 'img/cart button.png' %}" alt="장바구니"></button></h8>
                        <input type="hidden" name="od_deliopt" value={{object.deliveryOption}} >
                    </form>
                </li>
            </ul>
        </div>
        <div class="second">
            <img src="{% static 'img/second.png' %}">
        </div>
        <div class="page">
            <img src="{% static 'img/page.png' %}">
        </div>
    </div>

{% endblock %}