{% extends 'base2.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="../../static/userApp/home.css" type="text/css">
{% endblock %}

{% block content2 %}
<h1>회원 유형을 선택해 주세요</h1>
<br><br>
<h4>유형을 선택하시면 솥에서 제공하는 다양한 서비스를 이용하실 수 있습니다.</h4>
{% if error %} <br>{{ error }} {% endif %}
{% endblock %}

{% block content %}
    
    <ul class="icons">
        <li>
             <div class="icon_img"></div>
             <div class="content_bold"><a class="name" href="{%  url 'accountApp:login' 1 %}">판매자</a></div>
             <i class="fas fa-minus"></i>
             <div class="content2">판매자는 솥을 통해 수요량을 조사하고, 신선한 농작물을 판매할 수 있습니다.</div>
         </li>

        
        <li>
             <div class="icon2_img"></div>
             <div class="content_bold"><a class="name" href="{%  url 'accountApp:login' 2 %}">구매자</a></div>
             <i class="fas fa-minus"></i>
             <div class="content2">구매자는 솥을 통해 간편하게 농작물을 주문하고, 갓 생산된 농작물을 받아보실 수 있습니다.</div>
         </li>
    </ul>
 
{% endblock %}