{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>솥 by SSAK3</title>
    <script src="https://kit.fontawesome.com/b0f29e9bfe.js" corssorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/userApp/main.css">
</head>

<body>
    <div class="wrap">
        <div class="intro">
            <div class="header">
                <ul class="nav">
                    <li><a href="{% url 'userApp:main' %}"><img src="../../../static/img/SOT_logo.png"></a></li>
                    <li><a href="{% url 'userApp:store' %}">스토어</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
                <ul class="searcharea">
                    <li><input type="search" placeholder="Serach.."></li>
                    <li><a href="{% url 'userApp:cart' %}"><img src="../../../static/img/cart.svg"></a></li>
                    <li><a href="{% url 'userApp:home' %}"><img src="../../../static/img/mypage.svg"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--2-->
    <div class="main_text0">
        <ul>
            <li><div class="q">SHOPPING</div></li>
            <li><div class="w">금주의 주문량 TOP3</div></li>
            <li><div class="e">이번 주 회원님들이 가장 많이 찾은 식품을 만나보세요!</div></li>
        </ul>
        <div class="maincontainer">
            <ul  class="icon4">
                <!-- <li>
                    <div class="tomato5">
                        <a href="">
                            <div class="image1">
                                <img src="../../../static/img/tomato1.png" alt=""><br></div>
                            <div class="name">
                                <div class="title">
                                    <div id1="minititle">무농약 방울토마토</div></div>
                                <div class="miniamount">
                                    <div id2="miniamount">2kg/팩</div></div>
                            </div>
                            <div class="star">
                                <img src="../../../static/img/star.svg" alt=""></div>
                            <div class="price">
                                <div class="price1">
                                    <div>10, 900원</div></div>
                                <div class="reserve1">
                                    <div><img src="../../../static/img/reserve.svg"></div></div>
                            </div>
                         </a>
                
                    </div>
                </li> -->
                {% for pro in products%}
                <li>
                    <div class="tomato5">
                        <a href="{% url 'userApp:detail' pro.pk %}">
                            <div class="image1">
                                {% if pro.Thumbnail == null %}
                                <img src="../../../static/img/ThumbnailSOT.png" style="width: 342px;height: 249px;" alt=""><br></div>
                                {% else %}
                                <img src="../../..{{pro.Thumbnail.url}}" style="width: 342px;height: 249px;" alt=""><br></div>
                                {% endif %}
                            <div class="name">
                                <div class="title">
                                    <div id1="minititle">{{pro.name}}</div></div>
                                <div class="miniamount">
                                    <div id2="miniamount">{{pro.amount}}</div></div>
                            </div>
                            <div class="star">
                                <img src="../../../static/img/star 8.svg" alt=""></div>
                            <div class="price">
                                <div class="price1">
                                    <div>{{pro.price}}원</div></div>
                                <div class="reserve1">
                                    <div><img src="../../../static/img/75.svg"></div></div>
                            </div>
                        </a>
                    </div>
                </li>
                {% endfor %}
                <!-- <li>
                    <div class="tomato5">
                        <a href="">
                            <div class="image1">
                                <img src="../../../static/img/cheese5.png" alt=""><br></div>
                            <div class="name">
                                <div class="title">
                                    <div id1="minititle">임실 구워먹는 우리치즈</div></div>
                                <div class="miniamount">
                                    <div id2="miniamount">280g/팩</div></div>
                            </div>
                            <div class="star">
                                <img src="../../../static/img/star9.svg" alt=""></div>
                            <div class="price">
                                <div class="price1">
                                    <div>10, 600원</div></div>
                                <div class="reserve1">
                                    <div><img src="../../../static/img/62.svg"></div></div>
                            </div>
                        </a>
                    </div>
                </li> -->
            </ul>  
        </div>
    </div>

    <div class="main_text1">
    </div>

    <!--4-->
    <div  class="main_text2">
        <ul>
            <li><div class="z">STORE</div></li>
            <li><div class="x">신뢰도 최고 인기농장 TOP2</div></li>
            <li><div class="c">믿고 사 먹을 수 있는 재구매율 최상위 농장을 만나보세요!</div></li>
        </ul>
        
        <ul class="icons">
            <li><a href="#"><img src="../../../static/img/farm1.png"></a></li>
            <li><a href="#"><img src="../../../static/img/farm2.png"></a></li>
        </ul>
    
    </div>
    <!--5-->
    <div class="gray">
        <div class="ld">
            <a href="#"><img src="../../../static/img/jj.png"></a>
        </div>
    </div>
    <!--하단 정보바-->
   <div class="zz"><img src="../static/img/zz.png"></div>
</body>
