{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accountApp/login.css' %}" type="text/css"> 
    <!-- <link rel="stylesheet" type="text/css" href="login2.css"> -->
{% endblock %}

{% block content2 %}
<h1>로그인</h1>
{% endblock %}

{% block content %}
    {% if error %}
    <div>
        {{ error }}
    </div>
    {% endif %}
    <!-- <h1>{% if usertype == 1 %}생산자 {% elif usertype == 2 %}소비자 {% endif %}로그인 페이지 입니다.</h1> -->

    <div>
        {% if usertype == 1 %}
        <form action="{% url 'accountApp:login' 1 %}" method="POST">
        {% elif usertype == 2 %}
        <form action="{% url 'accountApp:login' 2 %}" method="POST">  
        {% endif %}
            {% csrf_token %}
            <h3>LOGIN</h3>

           <div class="amount">
               <div class="food">
                    <img src="../../../static/img/ddd.jpg">
               </div>
                <div class="service">
                    <ul>  
                        <li><input type="text" id = 'username' placeholder="아이디" name="username"></li>
                        <li><input type="password" id='password' placeholder="비밀번호" name="password"></li>
                        <li><button type="submit">로그인하기</button></li>
                    </ul>
                </div>

            </div>
            {% if usertype == 1 %}
                <input type= "hidden" name="usertype" value=1>
            {% elif usertype == 2 %}
                <input type= "hidden" name="usertype" value=2>    
            {% endif %}
           
        </form>
        <div class="account">
            아직 회원이 아니신가요?
            <a href="{% url 'accountApp:signupAgree' %}">Signup Now</a>
        </div>
    </div>
{% endblock %}'