{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    {% if error %}
    <div>
        {{ error }}
    </div>
    {% endif %}
    <br>
    <br>
    <br>
    <div>
        {% if usertype == 1%}
        <form action="{% url 'accountApp:signup' 1 %}" method="POST">
        {%  elif usertype == 2%}
        <form action="{% url 'accountApp:signup' 2 %}" method="POST">
        {% endif %}
            {% csrf_token %}
            <h3>SIGNUP</h3>
            <div>
                <label for="username">아이디</label> 
                <input type="text" id = 'username' placeholder="아이디" name="username" required>
            </div>
            <div >
                <label for="password">비밀번호</label> 
                <input type="password" id='password' placeholder="비밀번호" name="password" required>
            </div>
            <div >
                <label for="password_check">비밀번호 확인</label> 
                <input type="password" id='password_check' placeholder="비밀번호 확인" name="password_check" required>
            </div>
            <div>
                이름 성별 본인확인이메일
                본인인증
                사업자 등록 -> 이미지로 대체
            </div>
            <div >
                {% if usertype == 1%}
                <input type="hidden" name='usertype' value=1>
                {%  elif usertype == 2%}
                <input type="hidden" name='usertype' value="2">
                {% endif %}
            </div>
            <button type="submit">가입하기</button>
        </form>
        <div>
            Already have account?
            <a href="{% url 'userApp:home' %}">Login Now</a>
        </div>
    </div>
{% endblock %}