
.second{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: white;
}
.third{
    width: 100%;
    /* height: 113px; */
    margin:auto;
    display: flex;
    justify-content: center;
}
.sss5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchArea{
    width: 420px;
    height: 43px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
}
#search{
    border-radius: 10px;
    background-color:#453f3f ;
    color: white;
    height: 43px;
    width: 60px;
    font-size: 15px;
}
.page{
    
    width: 1915px;
    height: 1900px;
    background-color:#F5F5F5; 
    opacity: 1;
}
.icon{
    display:flex;
    width:1240px;
    height:486px;
    
    margin:auto;
}
.icon>li{
    flex:1;
    
    height:486px;
    margin-top:50px;


}
.icon>li:not(:last-child){
    margin-right:20px;
}

.icon1{
    display:flex;
    width:1240px;
    height:486px;
    
    margin:auto;
}
.icon>li{
    flex:1;
    
    height:486px;
    margin-top:50px;


}
.icon1>li:not(:last-child){
    margin-right:20px;
}
.rice{
    margin-top:90px;
}
.cheese{
    margin-top:240px;
}
.tomato{
    margin-top:150px;
}

.icon2{
    display:flex;
    width:1240px;
    height:486px;
    
    margin:auto;
}
.icon>li{
    flex:1;
    
    height:486px;
    margin-top:50px;


}
.icon2>li:not(:last-child){
    margin-right:20px;
}
.rice2{
    margin-top:285px;
}
.cheese2{
    margin-top:335px;
}
.tomato2{
    margin-top:200px;
}


